In [40]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [41]:
# Import the data
file_path = "Resources/lending_data.csv"
lending_data = pd.read_csv(file_path)
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [42]:
# Split the data into X_train, X_test, y_train, y_test
x_loan_details = lending_data.drop('loan_status', axis=1)
y_loan_status = lending_data['loan_status']

x_loan_details_train, x_loan_details_test, y_loan_status_train, y_loan_status_test = \
train_test_split(x_loan_details, y_loan_status, random_state=200)

In [43]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression()
classifier.fit(x_loan_details_train, y_loan_status_train)

#printing scores
print(f'Training Data Score: {classifier.score(x_loan_details_train, y_loan_status_train)}')
print(f'Testing Data Score: {classifier.score(x_loan_details_test, y_loan_status_test)}')

Training Data Score: 0.9922444627871785
Testing Data Score: 0.9915394139496492

In [44]:
# Train a Random Forest Classifier model and print the model score
scaler = StandardScaler().fit(x_loan_details_train)
x_loan_details_train_scaled = scaler.transform(x_loan_details_train)
x_loan_details_test_scaled = scaler.transform(x_loan_details_test)
clf = RandomForestClassifier(random_state=42).fit(x_loan_details_train_scaled, y_loan_status_train)

#printing scores
print(f'Training Score: {clf.score(x_loan_details_train_scaled, y_loan_status_train)}')
print(f'Testing Score: {clf.score(x_loan_details_test_scaled, y_loan_status_test)}')

Training Score: 0.9973861604072087
Testing Score: 0.991900536524969